# Homework: Answer Customer Emails

1) import libraries

In [7]:
import pandas as pn
import numpy as np

2) Data for all of the locations of Petal Power is in the file inventory.csv. Load the data into a **DataFrame** called inventory.

In [19]:
inventory= pn.read_csv('inventory.csv')
print(inventory)

   location   product_type product_description                    quantity  \
0         0  Staten Island               seeds                       daisy
1         1  Staten Island               seeds                  calla lily
2         2  Staten Island               seeds                      tomato
3         3  Staten Island        garden tools                        rake
4         4  Staten Island        garden tools                 wheelbarrow
5         5  Staten Island        garden tools                       spade
6         6  Staten Island        pest_control               insect killer
7         7  Staten Island        pest_control                 weed killer
8         8  Staten Island             planter  20 inch terracotta planter
9         9  Staten Island             planter      8 inch plastic planter

   price  Unnamed: 5
0      4        6.99
1     46       19.99
2     85       13.99
3      4       13.99
4      0       89.99
5     93       19.99
6     74       12.99
7      8       23.99
8      0       17.99
9     53        3.99

3) Inspect the first 10 rows of **inventory**.

In [21]:
inventory.tail(10)

,location,product_type,product_description,quantity,price,Unnamed: 5
0,0,Staten Island,seeds,daisy,4,6.99
1,1,Staten Island,seeds,calla lily,46,19.99
2,2,Staten Island,seeds,tomato,85,13.99
3,3,Staten Island,garden tools,rake,4,13.99
4,4,Staten Island,garden tools,wheelbarrow,0,89.99
5,5,Staten Island,garden tools,spade,93,19.99
6,6,Staten Island,pest_control,insect killer,74,12.99
7,7,Staten Island,pest_control,weed killer,8,23.99
8,8,Staten Island,planter,20 inch terracotta planter,0,17.99
9,9,Staten Island,planter,8 inch plastic planter,53,3.99

4) The first 10 rows represent data from your Staten Island location. Select these rows and save them to **staten_island**.

In [23]:
staten_island=inventory.tail(10)

5) A customer just emailed you asking what products are sold at your Staten Island location. Select the column **product_description** from **staten_island** and save it to the variable **product_request**

In [25]:
product_request=staten_island.product_description
print(product_request)

0           seeds
1           seeds
2           seeds
3    garden tools
4    garden tools
5    garden tools
6    pest_control
7    pest_control
8         planter
9         planter
Name: product_description, dtype: object

6) Another customer emails to ask what types of seeds are sold at the Brooklyn location.

Select all rows where **location** is equal to **Brooklyn** and **product_type** is equal to seeds and save them to the variable **seed_request**.

In [27]:
seed_request= inventory[(inventory.location=='Brooklyn') & (inventory.product_type=='seeds')]

7) Add a column to **inventory** called **in_stock** which is True if **quantity** is greater than 0 and False if quantity equals 0.

In [35]:
inventory['in_stock']= inventory.apply(lambda row: True if row.price < 0 else False, axis = 1)

In [37]:
print(inventory)

   location   product_type product_description                    quantity  \
0         0  Staten Island               seeds                       daisy
1         1  Staten Island               seeds                  calla lily
2         2  Staten Island               seeds                      tomato
3         3  Staten Island        garden tools                        rake
4         4  Staten Island        garden tools                 wheelbarrow
5         5  Staten Island        garden tools                       spade
6         6  Staten Island        pest_control               insect killer
7         7  Staten Island        pest_control                 weed killer
8         8  Staten Island             planter  20 inch terracotta planter
9         9  Staten Island             planter      8 inch plastic planter

   price  Unnamed: 5  in_stock
0      4        6.99     False
1     46       19.99     False
2     85       13.99     False
3      4       13.99     False
4      0       89.99     False
5     93       19.99     False
6     74       12.99     False
7      8       23.99     False
8      0       17.99     False
9     53        3.99     False

8) Create a column called total_value that is equal to price multiplied by quantity.

In [42]:
inventory['total_value'] = inventory.apply( lambda row: row.price * row.quantity, axis=1)

print(inventory.head())

   location   product_type product_description     quantity  price  \
0         0  Staten Island               seeds        daisy      4
1         1  Staten Island               seeds   calla lily     46
2         2  Staten Island               seeds       tomato     85
3         3  Staten Island        garden tools         rake      4
4         4  Staten Island        garden tools  wheelbarrow      0

   Unnamed: 5  in_stock                                        total_value
0        6.99     False                               daisydaisydaisydaisy
1       19.99     False  calla lilycalla lilycalla lilycalla lilycalla ...
2       13.99     False  tomatotomatotomatotomatotomatotomatotomatotoma...
3       13.99     False                                   rakerakerakerake
4       89.99     False

9) The following **lambda** function combines product_type **and** product_description into a single string:

In [45]:
combina_lambda = lambda row: \
  '{} - {}'.format(row.product_type, row.product_description)

10) Using combine_lambda, create a new column in inventory called full_description that has the complete description of each product.

In [50]:
inventory['full_description']=inventory.apply(combina_lambda, axis =1 )
print(inventory.head())

   location   product_type product_description     quantity  price  \
0         0  Staten Island               seeds        daisy      4
1         1  Staten Island               seeds   calla lily     46
2         2  Staten Island               seeds       tomato     85
3         3  Staten Island        garden tools         rake      4
4         4  Staten Island        garden tools  wheelbarrow      0

   Unnamed: 5  in_stock                                        total_value  \
0        6.99     False                               daisydaisydaisydaisy
1       19.99     False  calla lilycalla lilycalla lilycalla lilycalla ...
2       13.99     False  tomatotomatotomatotomatotomatotomatotomatotoma...
3       13.99     False                                   rakerakerakerake
4       89.99     False

               full_description
0         Staten Island - seeds
1         Staten Island - seeds
2         Staten Island - seeds
3  Staten Island - garden tools
4  Staten Island - garden tools