# Aggregates in Pandas

**Note**: These notes are a summary of notes taken from www.codecademy.com, not my production 

An aggregate statistic is a way of creating a single number that describes a group of numbers. Common aggregate statistics include mean, median, and standard deviation. Aggregate functions summarize many data points (i.e., a column of a dataframe) into a smaller set of values.

The general syntax for these calculations is:

**df.column_name.command()**

The following table summarizes some common commands:

In [15]:
import pandas as pn
import numpy as np

common_comands= pn.read_csv('common_commands.csv')

print(common_comands)

   Command                        Description
0     mean    Average of all values in column
1      std                 Standard deviation
2   median                             Median
3      max            Maximum value in column
4      min            Minimum value in column
5    count         Number of values in column
6  nunique  Number of unique values in column
7   unique    List of unique values in column

**Below are some examples of use**

In [22]:
orders=pn.read_csv('orders.csv')

print(orders.head(10))

most_expensive= orders.price.max();

num_colors=orders.shoe_color.nunique();

      id first_name    last_name                         email     shoe_type  \
0  41874       Kyle         Peck          KylePeck71@gmail.com  ballet flats
1  31349  Elizabeth    Velazquez      EVelazquez1971@gmail.com         boots
2  43416      Keith     Saunders              KS4047@gmail.com       sandals
3  56054       Ryan      Sweeney     RyanSweeney14@outlook.com       sandals
4  77402      Donna  Blankenship              DB3807@gmail.com     stilettos
5  97148     Albert       Dillon       Albert.Dillon@gmail.com        wedges
6  19998     Judith       Hewitt      JudithHewitt98@gmail.com     stilettos
7  83290      Kayla       Hardin        Kayla.Hardin@gmail.com     stilettos
8  77867     Steven  Blankenship  Steven.Blankenship@gmail.com        wedges
9  54885      Carol   Mclaughlin              CM3415@gmail.com  ballet flats

  shoe_material shoe_color  price
0  faux-leather      black  385.0
1        fabric      brown  388.0
2       leather       navy  346.0
3        fabric      brown  344.0
4        fabric      brown  289.0
5        fabric      brown  266.0
6       leather      black  395.0
7       leather      white  241.0
8       leather       navy  266.0
9  faux-leather      brown  440.0

## Calculating Aggregate Functions I

When we have a bunch of data, we often want to calculate aggregate statistics (mean, standard deviation, median, percentiles, etc.) over certain subsets of the data

In general, we use the following syntax to calculate aggregates:

**df.groupby('column1').column2.measurement()**

where:

    **column1** is the column that we want to group by ('student' in our example)
    **column2** is the column that we want to perform a measurement on (grade in our example)
    **measurement** is the measurement function we want to apply (mean in our example)

URL of reference https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html#pandas.DataFrame.groupby

Below are some examples using **orders.csv**

1) Now, they want to know the most expensive shoe for each shoe_type (i.e., the most expensive boot, the most expensive ballet flat, etc.).

In [30]:
pricey_shoes=  orders.groupby('shoe_type').price.max()
print(pricey_shoes)

shoe_type
ballet flats    481.0
boots           478.0
clogs           493.0
sandals         456.0
stilettos       487.0
wedges          461.0
Name: price, dtype: float64

In [32]:
print(type(pricey_shoes))

<class 'pandas.core.series.Series'>

### After using groupby, we often need to clean our resulting data.

As we saw in the previous exercise, the groupby function creates a new Series, not a DataFrame. For our ShoeFly.com example, the indices of the Series were different values of shoe_type, and the name property was price.

Usually, we’d prefer that those indices were actually a column. In order to get that, we can use reset_index(). This will transform our Series into a DataFrame and move the indices into their own column.

Generally, you’ll always see a groupby statement followed by reset_index:

**df.groupby('column1').column2.measurement()
    .reset_index()**

When we use groupby, we often want to rename the column we get as a result

**Below some examples**

Modify your code from the previous exercise so that it ends with reset_index, which will change pricey_shoes into a DataFrame.

In [36]:
pricey_shoes = orders.groupby('shoe_type').price.max().reset_index()

print(pricey_shoes)

      shoe_type  price
0  ballet flats  481.0
1         boots  478.0
2         clogs  493.0
3       sandals  456.0
4     stilettos  487.0
5        wedges  461.0

Now, what type of object is pricey_shoes?

In [38]:
print(type(pricey_shoes))

<class 'pandas.core.frame.DataFrame'>

## methods and lambdas functions

Sometimes, the operation that you want to perform is more complicated than mean or count. In those cases, you can use the apply method and lambda functions, just like we did for individual column operations. Note that the input to our lambda function will always be a list of values.

A great example of this is calculating percentiles.

**Below some examples of lambdas functions use**

Let’s calculate the 25th percentile for shoe price for each shoe_color to help Marketing decide if we have enough cheap shoes on sale. Save the data to the variable cheap_shoes.

Note: Be sure to use reset_index() at the end of your query so that cheap_shoes is a DataFrame.

In [49]:
cheap_shoes=orders.groupby('shoe_color').price.apply(lambda x: np.percentile(x,25)).reset_index()
print(cheap_shoes)

  shoe_color  price
0      black    NaN
1      brown  193.5
2       navy  205.5
3        red  250.0
4      white  196.0

In [47]:
print(type(cheap_shoes))

<class 'pandas.core.frame.DataFrame'>

## group by more than one column

Sometimes, we want to group by more than one column. We can easily do this by passing a list of column names into the groupby method.

**Below some examples:** 

Create a DataFrame with the total number of shoes of each shoe_type/shoe_color combination purchased. Save it to the variable shoe_counts.

You should be able to do this using groupby and count().

Note: When we’re using count(), it doesn’t really matter which column we perform the calculation on. You should use id in this example, but we would get the same answer if we used shoe_type or last_name.

In [52]:
shoe_counts= orders.groupby(['shoe_type','shoe_color']).id.count().reset_index()
print(shoe_counts)

       shoe_type shoe_color  id
0   ballet flats      black   2
1   ballet flats      brown   5
2   ballet flats        red   3
3   ballet flats      white   5
4          boots      black   3
5          boots      brown   5
6          boots       navy   6
7          boots        red   2
8          boots      white   3
9          clogs      black   4
10         clogs      brown   6
11         clogs       navy   1
12         clogs        red   4
13         clogs      white   1
14       sandals      black   1
15       sandals      brown   4
16       sandals       navy   5
17       sandals        red   3
18       sandals      white   4
19     stilettos      black   5
20     stilettos      brown   3
21     stilettos       navy   2
22     stilettos        red   2
23     stilettos      white   2
24        wedges      black   3
25        wedges      brown   4
26        wedges       navy   4
27        wedges        red   5
28        wedges      white   2

## Pivot Tables

When we perform a groupby across multiple columns, we often want to change how our data is stored. For instance, recall the example where we are running a chain of stores and have data about the number of sales at different locations on different days:

In Pandas, the command for pivot is:

**df.pivot(columns='ColumnToPivot',
         index='ColumnToBeRows',
         values='ColumnToBeValues')**

Just like with groupby, the output of a pivot command is a new DataFrame, but the indexing tends to be “weird”, so we usually follow up with .reset_index().

**Below some examples**

In [56]:
shoe_counts_pivot=shoe_counts.pivot(columns='shoe_color',
index='shoe_type',
values='id').reset_index()

print(shoe_counts_pivot)

shoe_color     shoe_type  black  brown  navy  red  white
0           ballet flats    2.0    5.0   NaN  3.0    5.0
1                  boots    3.0    5.0   6.0  2.0    3.0
2                  clogs    4.0    6.0   1.0  4.0    1.0
3                sandals    1.0    4.0   5.0  3.0    4.0
4              stilettos    5.0    3.0   2.0  2.0    2.0
5                 wedges    3.0    4.0   4.0  5.0    2.0