In [4]:
import requests
r = requests.get('https://api.census.gov/data/2020/acs/acs5?get=NAME,B08303_001E&for=state:*')

We can look at that response data by using the .text attribute. The text attribute turns the data into a string.

In [6]:
# Access data as JSON string
print(r.text)

[["NAME","B08303_001E","state"],
["Pennsylvania","5652158","42"],
["California","16710195","06"],
["West Virginia","697042","54"],
["Utah","1378826","49"],
["New York","8584828","36"],
["District of Columbia","332618","11"],
["Alaska","330203","02"],
["Florida","8817718","12"],
["South Carolina","2174285","45"],
["North Dakota","380227","38"],
["Maine","608861","23"],
["Georgia","4475685","13"],
["Alabama","2002359","01"],
["New Hampshire","656277","33"],
["Oregon","1790252","41"],
["Wyoming","267249","56"],
["Arizona","2897654","04"],
["Louisiana","1917930","22"],
["Indiana","2985939","18"],
["Idaho","744565","16"],
["Connecticut","1641807","09"],
["Hawaii","657643","15"],
["Illinois","5686627","17"],
["Massachusetts","3251466","25"],
["Texas","12371575","48"],
["Montana","471094","30"],
["Nebraska","928064","31"],
["Ohio","5163570","39"],
["Colorado","2604698","08"],
["New Jersey","4016070","34"],
["Maryland","2799889","24"],
["Virginia","3883690","51"],
["Vermont","292982","50"],
["North Carolina","4458769","37"],
["Arkansas","1238100","05"],
["Washington","3302637","53"],
["Kansas","1345103","20"],
["Oklahoma","1674019","40"],
["Wisconsin","2747826","55"],
["Mississippi","1193668","28"],
["Missouri","2707728","29"],
["Michigan","4288646","26"],
["Rhode Island","495214","44"],
["Minnesota","2654657","27"],
["Iowa","1482217","19"],
["New Mexico","829659","35"],
["Nevada","1321596","32"],
["Delaware","419600","10"],
["Puerto Rico","969379","72"],
["Kentucky","1858458","21"],
["South Dakota","411590","46"],
["Tennessee","2909026","47"]]

We can also use the .json() method that can automatically decode JSON data into the appropriate Python object.

In [8]:
# Access decoded JSON data as Python object
print(r.json())

[['NAME', 'B08303_001E', 'state'], ['Pennsylvania', '5652158', '42'], ['California', '16710195', '06'], ['West Virginia', '697042', '54'], ['Utah', '1378826', '49'], ['New York', '8584828', '36'], ['District of Columbia', '332618', '11'], ['Alaska', '330203', '02'], ['Florida', '8817718', '12'], ['South Carolina', '2174285', '45'], ['North Dakota', '380227', '38'], ['Maine', '608861', '23'], ['Georgia', '4475685', '13'], ['Alabama', '2002359', '01'], ['New Hampshire', '656277', '33'], ['Oregon', '1790252', '41'], ['Wyoming', '267249', '56'], ['Arizona', '2897654', '04'], ['Louisiana', '1917930', '22'], ['Indiana', '2985939', '18'], ['Idaho', '744565', '16'], ['Connecticut', '1641807', '09'], ['Hawaii', '657643', '15'], ['Illinois', '5686627', '17'], ['Massachusetts', '3251466', '25'], ['Texas', '12371575', '48'], ['Montana', '471094', '30'], ['Nebraska', '928064', '31'], ['Ohio', '5163570', '39'], ['Colorado', '2604698', '08'], ['New Jersey', '4016070', '34'], ['Maryland', '2799889', '24'], ['Virginia', '3883690', '51'], ['Vermont', '292982', '50'], ['North Carolina', '4458769', '37'], ['Arkansas', '1238100', '05'], ['Washington', '3302637', '53'], ['Kansas', '1345103', '20'], ['Oklahoma', '1674019', '40'], ['Wisconsin', '2747826', '55'], ['Mississippi', '1193668', '28'], ['Missouri', '2707728', '29'], ['Michigan', '4288646', '26'], ['Rhode Island', '495214', '44'], ['Minnesota', '2654657', '27'], ['Iowa', '1482217', '19'], ['New Mexico', '829659', '35'], ['Nevada', '1321596', '32'], ['Delaware', '419600', '10'], ['Puerto Rico', '969379', '72'], ['Kentucky', '1858458', '21'], ['South Dakota', '411590', '46'], ['Tennessee', '2909026', '47']]

Converting JSON to CSV

In [10]:
import csv

We first make a variable and call it file. Then we use open() to open a file, since we are going to write that file, we open it with mode='w' for writing mode. The newline='' ensures that newlines are always interpreted correctly.
Next, we use the writer() function from the csv library to make a writer object (don’t worry about what this is right now). We then use the writerows() method to write each row of data into comma-separated format

In [16]:
r_json=r.json()
with open('commute_data.csv',mode='w',newline='') as file:
  writer= csv.writer(file)
  writer.writerows(r_json)

# Exploring data using pandas
We’ll use Python’s pandas library, which is designed for working with data (and will quickly become familiar to you). Start by importing the library and using the read_csv() function to read the CSV data into a DataFrame object:

In [23]:
import pandas

-  using the read_csv() function to read the CSV data into a DataFrame object
- By default, the first row of the CSV file is read in as the header row. We can use the .head() method to preview the first few rows of the DataFrame. 

nota - sometimes columns have ambiguous or confusing names (like Census codes). We might also want to rename those columns. We can use the .columns attribute to rename the column headings if needed

In [27]:

commute_df= pandas.read_csv("commute_data.csv")
print(commute_df.head())

            NAME  B08303_001E  state
0   Pennsylvania      5652158     42
1     California     16710195      6
2  West Virginia       697042     54
3           Utah      1378826     49
4       New York      8584828     36